*{
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Roboto', sans-serif  !important;
}
html {
    scroll-behavior: smooth;
}
body{
    background-color: rgb(239, 239, 239);
    overflow-x:hidden;
}
.container__{
    width: 1270px;
    margin: 0 auto;
}
.back-right{
    margin-right: 16px;
}
a:hover{
    text-decoration: none;
}
button:focus {outline:0;}
.header{
    width: 100%;
    height: 102px;
    background: rgb(1, 127, 255);
    z-index: 100;
}
.header-container{
    padding-top: 18px;
    padding-bottom: 8px;
    display: flex;
    align-items: center;
}
.logo img{
    width: 60px;
    margin-right: 60px;
}
.danh-muc-sp{
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.danh-muc-sp img{
    width: 32px;
    height: 32px;
    margin-right: 8px;
}
.dmsp-right{
    display: flex;
    flex-direction: column;
}
.dmsp-right span{
    color: #ffffff;
}
span.danh-muc{
    font-weight: normal;
    font-size: 11px;
}
span.san-pham{
    font-size: 13px;
    font-weight: 500;
}
.san-pham img{
    width: 16px;
    height: 16px;
}

.dmsp:hover .dropdown{
    display: block;
}
.dmsp::after{
    content: "";
    display: block;
    width: 124px;
    height: 38px;
    position: absolute;
    bottom: -36px;
}
/*  dropdown */
.dropdown{
    width: 252px;
    height: 544px;
    background-color: #ffffff;
    position: absolute;
    z-index: 100;
    top: 51px;
    left: -121px;
    border-radius: 2px;
    box-shadow: rgb(98 98 98 / 50%) 0px 1px 2px 0px;
    display: none;
}
.dropdown-level1{
    height: 34px;
    width: 100%;
    display: flex;
    align-items: center;
}
.dropdown-level1 i{
    font-size: 15px;
    opacity: 0.3;
    margin-right: 10px;
    margin-left: 10px;
}
.dropdown-level1 span{
    font-size: 13px;
    font-weight: 500;
    opacity: 0.7;
    color: #000000;
    
}
.dropdown-icon{
    width: 50px;
    text-align: center;
}
.mt{
    border: 17px solid #017fff;
    border-color: transparent transparent transparent #017fff;
    position: absolute;
    right: -34px;
    opacity: 0.7;
    z-index: 100;
    display: none;
}
.dropdown-level1:hover{
    background-color:rgba(1, 127, 255, 0.8);
}
.dropdown-level1:hover .mt{
    display: block;
}
.dropdown-level1:hover .dropdown-sc,
.dropdown-level1:hover .dropdown-scx{
    opacity: 1;
}
/* dropdown-level2 */
.dropdown-sc{
    opacity: 0;
}
.dropdown-scx{
    opacity: 0;
    
}
.dropdown-level2{
    position: absolute;
    top: 0;
    right: -988px;
    width: 988px;
    height: 544px;
    background-color: #ffffff;
    border: 1px solid rgba(0,0,0,.05);
    z-index: 99;
    opacity: 1 !important; 
    display: flex;
    justify-content: space-around;

}
.dropdown-lever2x{
    position: absolute;
    top: 0;
    right: -988px;
    width: 988px;
    height: 544px;
    background-color: #ffffff;
    border: 1px solid rgba(0,0,0,.05);
    z-index: 98;
    opacity: 1 !important; 
    display: flex;
    justify-content: space-around;
}
.column{
    display: flex;
    flex-direction: column;
    width: 207px;
    padding-top: 20px;
}
.column-item{
    display: flex;
    flex-direction: column;
}
.column-item a{
    font-size: 13px;
    font-weight: 500;
    opacity: 0.7;
    color: #000000;
    margin-bottom: 3px;
}
.column-item a:hover{
    color: #017fff ;

}
.column-top{
    margin-bottom: 6px;
}


/* bóng mờ */
body{
    position: relative;
}
.main{
    position: relative;
}
#modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 102px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 50;
    display: none;
}

/*  drop-search */
.search-drop{
    width: 583px;
    height: 519px;
    background-color: #ffffff;
    position: absolute;
    z-index: 90;
    top: 40px;
    display: flex;
    flex-direction: column;
    border-radius: 0px 0px 3px 3px;
    border-top: 1px solid rgb(225, 225, 225);
    display: none;
    
}
.drop-top{
    background: rgb(255, 245, 236);
}
.drop-top-content{
    display: flex;
    align-items: center;
    padding: 0 16px;
}
.drop-top-content img{
    width: 35px;
    height: 35px;
    margin-right: 16px;
}
.drop-top-content span{
    font-size: 13px;
    font-weight: 500;
    color: rgb(36, 36, 36);;
}

.search-sg-item{
    padding: 0 16px;
}
.list-search-sg{
    display: flex;
    flex-direction: column;
}
.search-sg-item img{
    width: 35px;
    height: 35px;
    margin-right: 16px;
}
.search-sg-item span{
    font-size: 13px;
    font-weight: 500px;
    color: rgb(36, 36, 36);;
}

.tim-kiem-pb{
    padding: 8px 12px 12px;
    border-top: 1px solid rgb(242, 242, 242);
}
.tim-kiem-pb-top{
    display: flex;
    align-items: center;
    padding-bottom: 8px;
}
.tim-kiem-pb-top img{
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
.tim-kiem-pb-top span{
    color: #000000;
    font-size: 15px;
}
.tim-kiem-pb-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 7px;
}
.tim-kiem-pb-item{
    display: flex;
}
.tim-kiem-pb-item img{
    width: 38px;
    height: 38px;
    margin-right: 8px;;
}
.tim-kiem-pb-item span{
    font-size: 12px;
    line-height: 16px;
    margin: 4px 0px;
    color: #000000;
    
}

.danh-muc-noi-bat{
    display: flex;
    flex-direction: column;
    padding: 8px 12px 12px;
    border-top: 1px solid rgb(242, 242, 242);
}
.top-dmnb{
    font-size: 15px;
    color: #000000;
    display: flex;
}
.dmnb-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 12px 8px;
    
}
.dmnb-item{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.dmnb-item img{
    width: 56px;
    height: 56px;
}
.dmnb-item span{
    font-size: 12px;
    line-height: 16px;
    padding: 6px 0px 0px;
    text-align: center;
    color: #000000;
    
}

/*  search-autocomplete */
.search-autocomplete{
    position: absolute;
    z-index: 100;
    background-color: #ffffff;
    pointer-events: none;
    top: 40px;
    border-radius: 0px 0px 3px 3px;
    border-top: 1px solid rgb(225, 225, 225);
    box-shadow: rgb(0 0 0 / 28%) 0px 6px 12px 0px;
    width: calc(100% - 120px);
    padding: 0;
    pointer-events: none;
    max-height: 280px;
    overflow-y: auto;
    opacity: 0;

}
.search-autocomplete li{
    height: 35px;
    padding: 0 15px;
    list-style: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.search-autocomplete li::after{
    background-image: url(/images/search.png);
}
.search-autocomplete li img{
    width: 35px;
    height: 35px;
    margin-right: 10px;
}
.search-autocomplete li:hover{
    background-color: rgba(27, 168, 255, 0.1);
}
.search-autocomplete.active-search{
    opacity: 1;
    pointer-events: auto;
}



/* search */
.search{
    display: flex;
    box-shadow: rgb(98 98 98 / 50%) 0px 1px 2px;
    height: 40px;
    flex: 1;
    position: relative;
}
button.search-buttom{
    cursor: pointer;
    border: 0px;
    width: 120px;
    background: rgb(13, 92, 182);
    height: 40px;
    border-radius: 2px 2px 2px 2px;
    color: white;
    font-size: 13px;
    font-weight: 500;
    outline: none;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    outline: none;
}
.search-input{
    padding: 0px 12px;
    font-size: 13px;
    border-radius: 2px 2px 2px 2px;
    font-weight: 500;
    flex: 1;
    outline: none;
}
.search-buttom img{
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

/* user*/
.user{
    position: relative;
}
.user::before{
    position: absolute;
    content: "";
    display: block;
    width: 147px;
    height: 27px;
    top: 29px;
}

.user-drop::before{
    border-width: 9px;
    border-style: solid;
    border-color: transparent transparent rgb(255, 255, 255);
    margin-left: -9px;
    bottom: 100%;
    left: 50%;
    content: " ";
    position: absolute;
}
.user-drop{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 47px;
    left: -51px;
    background-color: rgb(255, 255, 255);;
    padding-top: 10px;
    padding-bottom: 10px;
    display: none;
    z-index: 101;
}
.user-drop-item{
    width: 236px;
    height: 41px;
    margin: 5px 12px;
    border-radius: 4px;
}
.user-drop-item:hover{
    opacity: 0.85;
}
.gold{
    background-color: #FDD835;
    font-size: 14px;
    color: #4A4A4A;
    font-weight: 500;
}
.facebook{
    background-color: rgb(59, 89, 152);
    font-size: 14px;
    color: #ffffff;
    font-weight: 500;
    line-height: 37px;
}
.icon-fb{
   justify-content: center;
   float: left;
    width: 41px;
    height: 41px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.icon-fb i{
    width: 24px;
    height: 24px;
    padding-top: 12px;
}
.red{
    background-color: #Df4A32;
}
/* user-drop-logged */
.user-drop-logged-x{
    display: none;
}
.user-drop-logged{
    border: 1px solid rgb(239, 239, 239);
    background: rgb(255, 255, 255);
    width: 267px;
    height: auto;
    z-index: 15;
    margin: 0px;
    padding: 8px 0;
    border-radius: 0px 0px 3px 3px;
    box-shadow: rgb(0 0 0 / 18%) 0px 6px 12px 0px;
    position: absolute;
    left: -55px;
    top: 46px;
    display: flex;
    flex-direction: column;
}
.user-drop-logged span{
    display: block;
    font-size: 12px;
    color: #333;
    padding: 6px 20px;
}

.user-drop-logged-item-content{
    display: flex;
    flex-direction: column;
}
.user-drop-logged-item-content span{
    padding: 0;
}
.user-drop-logged-item{
    padding: 6px 20px;
    display: flex;
    align-items: center;
}
.user-drop-logged-item img{
    height: 21px;
    width: 21px;
}
.fa-book{
    font-size: 20px;
    color: #017fff;
    margin-right: 12px;
}
.user-drop-logged span:hover,
.user-drop-logged-item:hover{
    background-color: rgb(245, 244, 245);
    color: rgb(0, 0, 0);
}
.user-drop-logged::after{
    border-width: 9px;
    border-style: solid;
    border-color: transparent transparent rgb(255, 255, 255);
    margin-left: -9px;
    bottom: 100%;
    left: 50%;
    content: " ";
    position: absolute;
}




/* cart */
.cart{
    display: flex;
    margin-left: 8px;
}
.cart-logo img{
    width: 32px;
    height: 32px;
}
.cart span{
    font-size: 12px;
    color: #ffffff;
    margin-top: 15px;
    margin-left: 5px;
    font-weight: 500;
}
.cart-logo{
    position: relative;
}
span.sl{
    color: rgb(36, 36, 36);
    background: rgb(253, 216, 53);
    height: 20px;
    left: 13px;
    top: -18px;
    border-radius: 40px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    font-size: 13px;
    font-weight: 500;
    position: absolute;
    padding: 0px 7px;
    color: #242424;
}
 /* suggest */
 .list-suggest{
     margin-left: 260px;
     margin-top: 5px;
 }
 .list-suggest a{
     color: #ffffff;
     font-size: 11px;
     margin-right: 12px;
     
 }


 /*  slide show */
 /* slide show*/
#carouselExampleIndicators{
    width: 824px;
    height: 274px;
} 
.carousel-indicators li{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    opacity: 1;
    border: 1px solid hsla(0,0%,53.7%,.4);
    background-color: hsla(0,0%,100%,.4);
}
.carousel-indicators li.active{
    background-color:#EE4D2D;
}

/* nut chuyen tiep slideshow*/
.carousel-control-next{
    background-color: rgba(0,0,0,.18);
    width: 33px;
    height: 71px;
    right: 0px;
    top: 83px;
}
.carousel-control-prev{
    background-color: rgba(0,0,0,.18);
    width: 33px;
    height: 71px;
    left: 0px;
    top: 83px;
}

/* main */
.top-main{
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
}
.slideshow-right img{
    width: 410px;
    height: 272px;
    margin-left: 8px;
}

/*  km */
.container-km{
    background-color: #ffffff;
}
.km-list{
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
}
.km-item img{
    width: 48px;
    height: 48px;
}
.km-item p{
    font-size: 13px;
    color: #242424;
    font-weight: 500;
    margin-top: 12px;
    text-align: center;
    line-height: 1.54;
    width: 81px;
}
a.km-item{
    width: 103px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* km2 */
.banners{
    margin-top: 20px;
    margin-bottom: 20px;
}
.banner-list{
    display: flex;
    justify-content: space-between;
}
.banner-item img{
    border-radius: 20px;
}
.banner-item img:hover{
    opacity: 0.9;
}

/*danh muc noi bat*/
.highlight{
    background-color: #ffffff;
}
.highlight-top{
    font-size: 20px;
    line-height: 28px;
    padding: 10px 16px;
    font-size: 20px;
    color: #000000;
}
.highlight-list{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr;
    gap: 12px 8px;
    margin-top: 10px;
}
.highlight-item{
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(36, 36, 36);
}
.highlight-item:hover{
    color: rgb(36, 36, 36);
    opacity: 0.9;
}
.highlight-item p{
    text-align: center;
    margin: 12px 0px 16px;
    padding: 0px 12px;
    overflow: hidden;
    font-size: 13px;
    line-height: 20px;
    font-weight: 500;
}
.category{
    width: 60px;
    border-radius: 20px;
    overflow: hidden;
}
.highlight-img{
    padding-top: 100%;
    position: relative;
    background-color: rgba(27, 168, 255, 0.07);
}
.backgr img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 4px;
    left: 0px;
    z-index: 2;
    mix-blend-mode: multiply;
}


/* danh sach san pham */
.cont-header{
    display: flex;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid rgb(242, 242, 242);
}
.container-item{
    width: 224px;
    height: auto;
}
a.container-item{
    color: #242424;
}
.cont-header .tab{
    display: flex;
    justify-content: center;
}
.tab img{
    width: 120px;
    height: 40px;
    margin: 8px 0;
}
.tab{
    width: 240px;
    height: 60px;
    text-align: center;
}
.atc-img-tab{
    display: flex;
    justify-content: center;
   
}
.bt-red-a{
    border-bottom: 4px solid rgb(255, 66, 78);
}

.show-item{
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(5, auto);
}
.container-item{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 226px;
    font-weight: 500;
    padding: 12px 16px;
    border: 1px solid transparent;
    font-size: 13px;
    color: #242424;
    line-height: 20px;
}
.item{
    display: flex;
    justify-content: center;
}
.item:hover{
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 20px;
    z-index: 1;
}
.img-sp img{
    width: 200px;
    height: 200px;
}
.img-sp{
    text-align: center;
    margin-bottom: 12px;
}
.star svg{
    font-size: 10px;
    color: gold;
}
.discount{
    display: flex;
}
.discount-price{
    font-size: 15px;
}
.discount-discount{
    background: rgb(255, 66, 78);
    line-height: 20px;
    border-radius: 2px;
    color: white;
    padding: 0px 2px;
    margin-left: 8px;
}
.carousel-item a img {
    transition-duration: 0.000001s;
  }


  /*   footer */
.footer{
    padding-top: 50px;
    
}

  /*  footer-top */
.footer-top{
    margin-top: 50px;
    background-color: rgb(247, 247, 247);;
}   
.footer-top-cont{
    display: flex;
    align-items: center;
}
.footer-top-con-img{
    width: 163px;
    height: 99px;
    position: relative;
    margin-right: 20px;
}
.footer-top-con-img img{
    position: absolute;
    top: -16px;
    width: 163px;
    height: 99px;
}
.footer-top-content a.h3{
    font-size: 16px;
    color: rgb(78, 80, 82);
    font-weight: 500;
}
.footer-top-content a.h3{
    font-size: 13px;
    color: rgb(78, 80, 82);
    font-weight: bold;
}
.footer-top-form{
    margin-left: 20px;
}
.footer-top-form input{
    width: 345px;
    height: 34px;
    padding: 6px 12px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    font-size: 16px;
    outline: none;
}
.footer-top-form button{
    margin-left: 10px;
    cursor: pointer;
    height: 34px;
    padding: 6px 12px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    border: none;
    border-radius: 4px;
    background-color: rgb(0, 175, 239);
    outline: none;
}

/*  footer infor */
.footer-infor{
    background-color: #ffffff;
}
.footer-infor-content{
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}
.blockx{
    display: flex;
    flex-direction: column;
    width: 268px;
}
.blockx span{
    color: #333333;
}
.bockx-top{
    font-size: 13px;
    color: #333333;
    margin-bottom: 17px;
    font-weight: 500;
    text-transform: uppercase;
}
.blockx a{
    color: #333333;
    font-size: 12px;
    margin-bottom: 11px;
}
span.security{
    margin-bottom: 11px;
    font-size: 12px;
}
.cskh{
    margin-bottom: 10px;
}
span.hotline{
    color: rgb(196, 1, 26);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
}
span.ex{
    font-size: 12px;
}

.block{
    width: 226px;
    display: flex;
    flex-direction: column;
}
.block span{
    color: #333333;
}
.bock-top{
    font-size: 13px;
    color: #333333;
    margin-bottom: 17px;
    font-weight: 500;
    text-transform: uppercase;
}
.block a{
    color: #333333;
    font-size: 12px;
    margin-bottom: 11px;
}

/* pttt*/
.list-pttt img{
    width: 54px;
    height: 33px;
    margin: 0px 10px 7px 0;
}

.connect{
    display: flex;
    flex-direction: column;
}
.connect img{
    width: 32px;
    height: 32px;
}
.download{
    display: flex;
    flex-direction: column;
}
.download img{
    width: 134px;
    height: 40px;  
    margin-top: 10px;
}
.pb{
    padding-right: 15px;
    padding-left: 15px;
}
 

/*  login registration  */
.login-user-hidden{
    display: none;
}
.close-click-outside{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.53);
    z-index: 1500;
    overflow-y:scroll;
}
.login-regis{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    display: flex;
    justify-content: center;
    
    z-index: 2000;
    overflow-y:scroll;
}
.user-login-registration{
    margin: 60px 0;
    width: 900px;
    height: 630px;
    background-color: #f8f8f8 ;
    display: flex;
    position: relative;
    z-index: 1501;
    cursor: pointer;
}
.close-lo-re{
    position: absolute;
    right: -10px;
    top: -12px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    cursor: pointer;
}

.user-left{
    width: 360px;
    height: 630px;
    padding: 45px 30px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff ;
}
.user-left h2{
    font-size: 32px;
    font-weight: 300;
    color: #242424;
    margin-bottom: 10px;
}
.user-left p{
    font-size: 16px;
    font-weight: 300;
    line-height: 1.38;
    color: #787878;
    margin-bottom: 10px;
}
.img-user-left{
    margin-top: 70px;
    margin-bottom: 20px;
}


.user-form{
    width: 510px;
    height: 600px;
    margin: 15px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}
.form-top{
    width: 100%;
    border-bottom: 1px solid rgb(244, 244, 244);
    display: flex;
}
.form-top-item span{
    font-size: 16px;
    font-weight: 300;
}
.form-top-item{
    width: 150px;
    padding: 15px 5px 7px;
    margin-left: 20px;
    text-align: center;
}
.atv-login-regis{
    cursor: pointer;
    border-bottom: 3px solid rgb(27, 168, 255);
    color: rgb(27, 168, 255);
}
.no-active-lg-rs{
    display: none;
}

/*  form-user-login */

.form-content{
    padding: 35px 27px;
}
.form-user-login{
    display: flex;
    flex-direction: column;
    display: none;
}
.form-input{
    display: flex;
    flex-direction: column;
}
.email-sdt, .password,
.ho-ten ,.so-dien-thoai,
.email, .mat-khau,
.gioi-tinh,.ngay-sinh {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.form-input span{
    display: block;
    color: rgb(51, 51, 51);
    font-weight: 400;
    width: 75px;
}
.email-sdt input, .password input,
.ho-ten input, .so-dien-thoai input,
.email input, .mat-khau input{
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    height: 34px;
    padding: 6px 12px;
    line-height: 34px;
    outline: none;
    width: 381px;
}
.form-check-input{
    width: 20px;
    height: 20px;
    position: absolute;
    top: -4px;
}
.form-check{
    margin-right: 50px;
}
.form-check-label{
    margin-left: 10px;
    margin-top: 1px;
}
.form-group{
    margin-bottom: 0px;
    padding: 0;
    width: 107px;
    height: 34px;
    margin-right: 15px;
}
.cf-new-lb{
    margin-left: 5px;
}
.cf-new-ip{
    top: -3px;
    cursor: pointer;
}
.confirm-news{
    margin-bottom: 15px;
    font-size: 12px;
}
.forn-button p{
    display: block;
    margin-top: 10px;
    font-size: 12px;
}
.dk-tiki{
    color:#007bff ;
    cursor: pointer;
    font-size: 12px;
}

.day{
    color: #007bff;
    margin-left: 4px;
    text-decoration: none;
}
.day:hover{
    color: #007bff;
}
.forn-button{
    padding-left: 75px;
}
.quen-mk{
    display: block;
    margin: 5px 0px 30px;
    font-size: 12px;
    display: flex;
}
button.login-fb, button.login-gg, button.login-x{
    margin-left: 0px;
    width: 381px;
    cursor: pointer;
    outline: none;
}
.login-x{
    background-color: rgb(253, 216, 53);
    color: rgb(74, 74, 74);
    font-weight: 400;
    font-size: 14px;
    
}
.phone-err{
    display: block;
    color: rgb(169, 68, 66);
    font-size: 11px;
    margin-bottom: 15px;
    display: none;
}
 /* end trang chu */






 /*  danh sach san pham */
 .tiki-list-sp{
     background-color: #f4f4f4;
 }
.main-list-top{
    background-color: #efefef;
}
.container-list-top{
    background-color: #efefef;
    width: 1240px;
    padding-right: 15px;
}
ol.breadcrumb{
    margin-bottom: 0;
    padding-left: 0;
    width: 1225px;
}
.breadcrumb{
    background-color: rgba(239, 239, 239,1.2);    
}
.ds-it{
    color: #999999;
    font-size: 13px;
}
.ds-next{
    color: #333333;
    font-size: 13px;
}
.font-list{
    height: 40px;
    margin-right: 25px;
    padding-right: 20px;
}
.breadcrumb-item+.breadcrumb-item::before{
    content: none;
}
.breadcrumb-item{
    position: relative;
}
.breadcrumb-item::after, 
.breadcrumb-item::before,
.breadcrumb-item2::after, 
.breadcrumb-item2::before
{
    content: "";
    position: absolute;
    width: 2px;
    height: 25px;
    background-color: rgb(225, 225, 225);
}
.breadcrumb-item2{
    position: relative;
}
.breadcrumb-item::after{
    top: -12px;
    right: 18px;
    transform: rotate(-40deg);
}
.breadcrumb-item::before{
    top: 7px;
    right: 18px;
    transform: rotate(40deg);
}
.breadcrumb-item2::after{
    top: -12px;
    right: 18px;
    transform: rotate(-40deg);
}
.breadcrumb-item2::before{
    top: 7px;
    right: 18px;
    transform: rotate(40deg);
}
.active::after,
.active::before{
    width: 0;
}
a.ds-it:hover{
    color: #999999 ;
}
a.ds-next:hover{
    color: #333333;
}


/*  container-main */
.container-main{
    background-color: #ffffff;
    display: flex;
    width: 1270px;
}
.container-main-left{
    width: 248px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgb(247, 247, 247);
}
.main-left-item{
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgb(247, 247, 247);
    padding: 0px 8px 12px 16px;
}
.left-item-list{
    display: flex;
    flex-direction: column;
}
.left-item-top{
    color: rgb(36, 36, 36);
    padding: 14px 0px;
    font-weight: 500;
}
.left-item-list span{
    color: rgb(36, 36, 36);
    padding: 0px 0px 8px;
    line-height: 20px;
    font-weight: 500;
    cursor: pointer;
}

.address{
    font-weight: 500;
    color: rgb(13, 92, 182);
}
span.gntd{
    padding-bottom: 5px;
    text-decoration: underline;
}

.check-gh img{
    width: 56px;
    height: 16px;
    margin-right: 2px;
}
.check-gh input{
    margin-right: 10px;
    margin-top: 3px;
    font-size: 15px;

}
.check-gh{
    display: flex;
    align-content: center;
    margin-bottom: 5px;
    cursor: pointer;
}
span.check-gh-name{
    padding: 0;
}

/* s-5 */
.s-5{
    display: flex;
}
.s-5 span{
    margin-left: 3px;
}
.disable{
    color: rgb(184, 184, 184)!important;
}


.price{
    margin-bottom: 7px;
}
.price span{
    padding: 2px 12px;
    background-color: #f4f4f4;
    line-height: 20px;
    border-radius: 10px;
}



/* container-main-right */
.container-main-right{
    display: flex;
    flex-direction: column;

}
.category-name{
    padding: 16px 0px 0px 16px;
}
.name-ct{
    font-size: 24px;
    color: #000000;
}
.ct-sll{
    font-size: 22px;
    font-weight: 400;
    color: rgb(137, 137, 137);
}

.sorter{
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.sort-cont{
    width: 206%;
    border-bottom: 1px solid rgb(242, 242, 242);
}
.sorter-list{
    display: flex;
}
.sorter-list a{
    font-weight: 500;
    line-height: 1.54;
    color: rgb(36, 36, 36);
    font-size: 13px;
    margin: 0px 16px;
    padding: 8px;
}
a.active-sorter, .sorter-list a:hover{
    color: rgb(13, 92, 182);
    font-weight: 500;
    border-bottom: 4px solid rgb(13, 92, 182);
}

.sort-dv{
    padding-top: 20px;
    padding-left: 16px;
    display: flex;
}
.sort-dv-item a img{
    width: 56px;
    height: 16px;
}
.sort-dv-item a{
    background: rgb(238, 238, 238);
    padding: 2px 12px;
    line-height: 20px;
    border-radius: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
}
.sort-dv-item a span{
    color: #242424;
    font-weight: 500;
}
a.sort-dv-item-img{
    padding-bottom: 6px;
}

.dm-item{
    display: grid;
    grid-template-columns: repeat(5, auto);
}
.dm-list-item{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-column-gap: 39px;
}


ol.breadcrumb{
    margin-bottom: 0;
}
/*  chi tiet sp */
.main-item-cart{
    display: flex;
}
.main-item{
    background-color: #ffffff;
    width: 1240px;
    margin: 0 auto;
}
.main-item-img{
    padding: 16px 0px 16px 16px;
    width: 460px;
}
.group-img{
    display: flex;
    margin-top: 15px;
    justify-content: space-around;
}
.group-img-i{
    cursor: pointer;
}
.group-img-i:hover{
    opacity: 0.85;
}
.group-img-i img{
    width: 62px;
    height: 62px;
}
.vach{
    margin: 0px 12px;
    width: 1px;
    background: rgb(242, 242, 242);
    flex-shrink: 0;
}


/* price-header */
.price-header{
    padding: 16px 24px 16px 0px;
}
.title-name img{
    width: 91px;
    height: 26px;
    padding-right: 10px;
    border-right: 1px solid rgb(199, 199, 199);
    margin-bottom: 13px;
}
h1.title-name{
    margin: 0px 0px 4px;
    color: rgb(36, 36, 36);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    max-width: 615px;
}
.header-review{
    display: flex;
    margin-top: 6px;
}
.header-review .star {
    margin-right: 10px;
}
.header-reviwe span{
    color: rgb(120, 120, 120);
}
.header-review .star i{
    font-size: 15px;
}

.main-item-price{
    flex: 1;
}
/*  price-body */
.price-body{
    display: flex;
    width: 100%;
    padding-right: 20px;
}
.price-body-left{
    flex: 1;
    padding-right: 12px;
}
.price-body-right{
    width: 240px;
    padding-bottom: 20px;
}

.price-icon{
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    background-color: rgb(250, 250, 250);
    padding: 12px 16px;
}
span.big-money{
    font-size: 32px;
    line-height: 40px;
    margin-right: 8px;
    font-weight: 500
}
span.small-money{
    margin-right: 10px;
    text-decoration: line-through;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
}
.money-item span{
    color: #000000;
    font-weight: 500;
}
.price-refund img{
    width: 48px;
    height: 24px;
    margin-right: 5px;
}
.price-refund{
    display: flex;
    align-items: center;
    margin-top: 4px;
}
.price-refund span{
    font-weight: 500;
}

.price-options{
    margin-top: 16px;
}
.options-name{
    margin-bottom: 0px;
    color: rgb(142, 142, 142);
    font-weight: 500;
}
.options-name span{
    font-weight: 500;
    color: rgb(36, 36, 36);
}
.options-list{
    display: flex;
    flex-wrap: wrap;
}
.options-list a.btn-option{
    cursor: pointer;
    margin: 8px 12px 0px 0px;
    padding: 8px 12px;
    color: rgb(36, 36, 36);
    font-size: 13px; 
    position: relative;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 6px;
    font-weight: 500;
}
.options-list a:hover img.atv{
    display: block;
}
.options-list a img{
    position: absolute;
    top: -1px;
    right: 0px;
   display: none;
}
.active-opt img.atv{
    display: block;
}
.active-opt-gb img.atv{
    display: block;
}
.options-x{
    margin-bottom: 16px;
}

.delivery{
    padding: 16px 0px 0px;
    border-top: 1px solid rgb(242, 242, 242);
}
.delivery-content{
    color: rgb(36, 36, 36);
    font-weight: 500;
    line-height: 20px;
}
.delivery-content span{
    color: rgb(13, 92, 182);
    font-weight: 500;
    cursor: pointer;
}


.no-reduce{
    pointer-events: none;
    opacity: 0.5;
}
.add-to-card{
    display: flex;
    flex-direction: column;
    margin: 16px 0px 0px;
    padding: 16px 0px;
    border-top: 1px solid rgb(242, 242, 242);
}
.group-input{
    display: flex;
    align-items: center;
    margin-top: 8px;
}
.group-input button{
    height: 30px;
    color: rgb(36, 36, 36);
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    width: 30px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(236, 236, 236);
}

.group-input button i{
    opacity: 0.45;
}

.group-input input{
    width: 40px;
    border: 1px solid rgb(236, 236, 236);
    height: 30px;
    color: rgb(36, 36, 36);
    font-size: 14px;
    text-align: center;
    outline: none;
}
.group-input button:first-child{
    border-right: none;
    border-radius: 4px 0px 0px 4px;
    padding: 4px;
}
.group-input button:last-child{
    border-left: none;
    border-radius: 0px 4px 4px 0px;
    padding: 4px;
}

.group-button{
    margin-top: 16px;
    display: flex;

}
.button-add-to-card-l,.button-add-to-card-r{
    color: rgb(255, 255, 255);
    background-color: rgb(255, 57, 69);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
    text-transform: capitalize;
    border: none;
    border-radius: 4px;
    outline: none;
    width: 100%;

}

.button-add-to-card-l:hover,
.button-add-to-card-r:hover{
    opacity: 0.85;
}
.installment{
    border: 1px solid rgb(13, 92, 182);
    font-size: 15px;
    line-height: 1.6;
    color: rgb(13, 92, 182);
    flex-direction: column;
    background: white;
    justify-content: center;
    margin-left: 12px
}
.installment span{
    font-size: 11px;
}


.seller-infor{
    display: flex;
    padding: 8px 12px;
}
.infor-name{
    display: flex;
    flex-direction: column;
    margin-left: 12px;
}
.infor-name span{
    font-size: 15px;
    font-weight: 500;
}
img.seller-logo{
    width: 44px;
    height: 44px;
}
.logo-official{
    width: 76px;
    height: 18px;
}

.seller{
    margin-bottom: 15px;
}
.seller-detail{
    display: flex;
}
.seller-star svg{
    color: rgb(255, 193, 32);
    margin-left: 3px;;
}
.seller-detail-star{
    font-size: 15px;
    font-weight: 500;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}
.seller-star-t{
    font-size: 11px;
    font-weight: normal;
    line-height: 1.45;
    color: rgb(120, 120, 120);
}
.boder-sm{
    align-self: center;
    width: 1px;
    height: 16px;
    background-color: rgb(242, 242, 242);
}



.body-sl-r{
    border: 1px solid rgb(242, 242, 242);
    border-radius: 4px;
}
.warranty{
    padding: 8px 12px;
    border-top: 1px solid rgb(242, 242, 242);
}
.warranty-item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}
.warranty-right{
    font-weight: 500;
    color: #000000;
}
.warranty-left{
    color: rgb(120, 120, 120);
    font-weight: 500;
}
.xct{
    color: rgb(13, 92, 182);
    cursor: pointer;
}


/* infor-item-main*/ 

.group-infor{
    width: 920px;
    padding: 10px 20px;
    color: rgb(36, 36, 36);
    line-height: 21px;
    text-align: justify;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
}
.body-infor{
    width: 1240px;
    margin: auto;
    margin-top: 25px;
}

.table th, .table td{
    border-top: none;
}
th.table-left{
    width: 220px;
    vertical-align: top;
    color: rgb(79, 79, 79);
    font-size: 13px;
    font-weight: 500;
    background: rgb(239, 239, 239);
    padding: 10px 15px;
}
td.table-right{
    padding: 10px 15px;
    font-weight: 500;
}
.br-r{
    background-color: #fafafa;
}

.group-infor-name{
    margin-bottom: 10px;
    color: rgb(51, 51, 51);
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}
.infor-item{
    margin-bottom: 40px;
}
.group-infor span{
    font-size: 14px;
    color: #242424;
    font-weight: 400;
}
.group-infor h2{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
}
.group-infor p{
    margin-top: 5px;
    margin-bottom: 12px;
}
.group-infor p img{
    display: block;
    max-width: 100%;
    margin: 0px auto;
}

button.readall-button{
    cursor: pointer;
    display: block;
    width: 229px;
    height: 39px;
    margin: 10px auto 0px;
    color: rgb(24, 158, 255);
    font-size: 13px;
    font-weight: 400;
    line-height: 39px;
    text-align: center;
    border: 1px solid rgb(24, 158, 255);
    border-radius: 4px;
    padding: 0;
    background-color:rgb(255, 255, 255) ;
}
button.readall-button:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(24, 158, 255);
}
.body-infor{
    display: flex;
}
.body-infor-left{
    width: 920px;
}
.read-more{
    position: relative;
}
.readall-hide:after{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 200px;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255));
}
.readall-wrapper{
    background-color: rgb(255, 255, 255);
    padding-bottom: 20px;
}
 
/*  noti-add */
.cart-d{
    position: relative;
}
.noti-add{
    position: absolute;
    background-color: #ffffff;
    bottom: -130px;
    right: 0px;
    padding: 16px;
    border-radius: 6px;
    box-shadow: rgb(179 179 179) 1px 1px 15px;
    z-index: 900;
    width: 272px;
    display: none;
}
.noti-add-stt svg{
    color: #4caf50;
    font-size: 17px;
    margin-right: 5px;
    margin-bottom: 3px;
}
.noti-add-stt{
    display: flex;
    align-items: center;
    margin: 0px;
    color: rgb(51, 51, 51);
}
a.btn-view-card{
    display: block;
    margin-top: 16px;
    padding: 10px 0px;
    width: 240px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    background-color: rgb(255, 57, 69);
    border-radius: 4px;
}
a.btn-view-card:hover{
    opacity: 0.85;
}
.noti-add::before{
    content: "";
    position: absolute;
    bottom: 100%;
    right: 15px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent rgb(255, 255, 255);
}
.noti-add-close{
    position: absolute;
    top: 5px;
    right: 10px;
}
.noti-add-close i{
    color: rgb(155, 155, 155);
    font-size: 14px;
    cursor: pointer;
}



/* main cart  */
.main-right{
    width: 910px;
}
.main-cart{
    padding-top: 20px;
    display: flex;

}
.main-right h1{
    color: rgb(51, 51, 51);
    font-size: 18px;
    font-weight: 400;
    margin: 0px 0px 12px;
}
.main-right h1 span{
    font-size: 14px;
    text-transform: none;
    font-weight: 300;
}
.cart-products-group{
    background: rgb(255, 255, 255);
    padding-bottom: 16px;
}
a.name-seller{
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
    padding: 14px 0px 10px 20px;
    color: rgb(36, 36, 36);
    display: flex;
    align-items: center;
    text-decoration: none;
}
a.name-seller i{
    margin-left: 10px;
    opacity: 0.5    ;
}
.cart-products-inner{
    display: flex;
    padding: 20px 20px 10px;
}
.img-item-link{
    margin-right: 15px;
}
.img-item-link img{
    width: 130px;
    height: 130px;
}
.img-item-link img:hover{
    opacity: 0.85;
}
.cart-products-content{
    display: flex;
    width: 720px;
    justify-content: space-between;
}
.cart-products-desc{
    display: flex;
    flex-direction: column;
}
.cart-products-name{
    width: 100%;
    margin-bottom: 10px;
}
.cart-products-name a{
    color: rgb(36, 36, 36);
    font-weight: 400;
    display: inline-block;
    margin-bottom: 10px;
    font-size: 14px;
}
.cart-products-name a:hover{
    color: rgb(13, 92, 182);
}
a.atc-delete{
    color: rgb(13, 92, 182);
    display: inline-block;
    margin-right: 20px;
    font-size: 13px;
    cursor: pointer;
}
a.atc-buy-later{
    color: rgb(13, 92, 182);
    display: inline-block;
    font-size: 13px;
    cursor: pointer;
}
.cart-products-actions a:hover{
    text-decoration: underline;
}

.cart-products-details{
    width: 233px;
    display: flex;
}
.cart-products-price{
    display: flex;
    flex-direction: column;
    width: 109px;
    text-align: right;
    margin-right: 25px;
}
.cart-real-price{
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 500;
}
.cart-discout-price{
    display: flex;
    text-align: right;
}
.cart-discout-price span{
    font-size: 12px;
    margin-bottom: 8px;
    color: rgb(162, 162, 162);
    text-decoration: line-through;
}
span.cart-discount{
    text-decoration: none;
    position: relative;
    margin-left: 20px;
    color: rgb(36, 36, 36);
    font-weight: 500;
    margin-left: 18px;
}
span.cart-discount::before{
    content: "";
    width: 1px;
    height: 10px;
    background: rgb(120, 120, 120);
    position: absolute;
    left: -8px;
    top: 4px;
}

.cart-products-gift-items{
    margin-left: 150px;
    position: relative;
    display: flex;
    align-items: center;
}

.check-service{
    width: 20px;
    height: 20px;
}
.add-on-service-img img{
    width: 48px;
    height: 48px;
    margin-left: 15px;
}
.add-on-service-img{
    display: flex;
    align-items: center;
    margin-right: 15px;
}
.add-on-service-content{
    width: 530px;
    display: flex;
    justify-content: space-between;
}
p.add-on-service-name{
    color: rgb(36, 36, 36);
    font-size: 14px;
    width: 260px;
    margin-bottom: 0;
    cursor: pointer;
}
.add-on-service-name:hover{
    color: rgb(13, 92, 182);
}
.add-on-service-price{
    font-size: 16px;
    font-weight: 500;
    color: rgb(36, 36, 36);
}


.main-left{
    margin-top: 34px;
    margin-left: 15px;
}
.coupon{
    margin-bottom: 16px;
    background: rgb(255, 255, 255);
    padding: 16px;
    width: 315px;
}
.coupon span{
    color: rgb(36, 36, 36);
    margin: 0px 0px 8px;
    font-size: 14px;
    line-height: 20px;
}
.options-coupon{
    margin-top: 20px;
    color: rgb(13, 92, 182);
    font-size: 14px;
    font-weight: normal;
    line-height: 1.43;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.options-coupon i{
    font-size: 20px;
    opacity: 0.7;
    margin-right: 10px;
}
.all-prices{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}
.tam-tinh, .thanh-tien{
    padding: 17px 20px;
    display: flex;
    justify-content: space-between;
}
.tam-tinh{
    border-bottom: 1px solid rgb(244, 244, 244);
}
span.tt{  /* tạm tính  */
    font-size: 14px;
    font-weight: 300;
    color: rgb(51, 51, 51);
}
.pr{
    font-size: 14px;
    color: #000000;
}
.thanh-tien span.pr{
    display: flex;
    flex-direction: column;
    color: rgb(254, 56, 52);
    font-size: 22px;
    font-weight: 400;
    text-align: right;
}
.thanh-tien span.pr span{
    font-weight: 300;
    font-style: normal;
    display: block;
    font-size: 12px;
    color: rgb(51, 51, 51);
    margin-top: 3px;
}
.cart-submit{
    background: rgb(255, 66, 78);
    color: rgb(255, 255, 255);
    padding: 13px 10px;
    text-align: center;
    border-radius: 4px;
    border: none;
    width: 100%;
    display: block;
    margin: 15px 0px;
    cursor: pointer;
}
.cart-submit:hover{
    background: rgb(255, 15, 30);
}


.fa-book{
    color: #000000  !important;
    width: 13px;
    height: 13px;
    margin-left: 12px;
}